<div class="upperFoot">
    <div class="firstHalf">
        <div class="brandName poppins-regular">
            <i class="fa-regular fa-copyright"></i> 2025 Spot On
        </div>
        <div class="addInfo">
            <ul>
                <li>
                    <a class="poppins-regular" href="/privacy">Privacy</a>
                </li>
                <li>
                    <a class="poppins-regular" href="/terms">Terms</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="secondhalf">
        <div class="socialInfo">
            <i class="fa-brands fa-square-instagram footIcon"></i>
            <i class="fa-brands fa-square-x-twitter footIcon"></i>
            <i class="fa-brands fa-linkedin footIcon"></i>
            <i class="fa-brands fa-square-facebook footIcon"></i>
        </div>
    </div> 
</div>




<!-- <footer class="poppins-regular">
    <p>Created with <i class="fa-solid fa-heart"></i> & kind help of Shraddha ma'am</p>
</footer> -->
