<!-- this is the boilerplate for navbar -->

<div class="navArea">
    <div class="navbar fadeIn">
        <div class="logo">
            <a href="/">
                <img src="/static/images/spot_on_logo_2-removebg-preview.png" alt="">
            </a>
            
        </div>
    
        <div class="parkingChoice fadeIn">
                <button class="parkIt poppins-regular">
                    Parkit
                </button>

            
                <button class="bookIt poppins-extralight">
                    Bookit
                </button>
                
        </div>
    
        <div class="getStarted poppins-regular">
            Get started
        </div>
    </div>
    
</div>
 <div class="expandDropdown hidden">
    <ul class="getStartedList poppins-regular">
        <i class="fa-solid fa-circle-user navIcon"></i>
        &nbsp;
        <a href="">
            <li>Sign up</li>
        </a>
        <br>
        <i class="fa-solid fa-right-to-bracket navIcon"></i>
        &nbsp;
        <a href="">
            <li>Log in</li>
        </a>
        <br>
        <i class="fa-brands fa-github navIcon"></i>
        &nbsp;
        <a href="https://github.com/masamasaowl/Spot-ON">
            <li>Documentation</li>
        </a>
        <br>
        <i class="fa-solid fa-house navIcon"></i>
        &nbsp;
        <a href="/">
            <li>home</li>
        </a>      
    </ul>
 </div>
