<!-- this is the boilerplate for navbar -->

<div class="navArea">
    <div class="navbar">
        <div class="logo">
            <img src="/static/images/spot_on_logo_2-removebg-preview.png" alt="">
        </div>
    
        <div class="parkingChoice">
                <button class="parkIt poppins-regular">
                    Parkit
                </button>

            
                <button class="bookIt poppins-extralight">
                    Bookit
                </button>
                
        </div>
    
        <div class="expandDropdown">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
    
</div>
