/* font */
.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
.inter{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
  
  

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: border-box;
}
body{
    background-color:#F7F7F7 ;
    /* for the fixed navbar */
    /* padding-top: 90px; */
}
.container{
    width: 100%;
    margin: 0;
}
/* =============== navbar ============== */
.navArea{
    background-color: #F7F7F7;
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    z-index: 100;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.navbar{
    height: 80px;
    width: 90%;
    margin: auto;
}
.logo img{
    width: 105px;
    height: 45px;
    background-size: cover;
}
.parkingChoice{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}
.parkIt{
    margin-right: 5px;
}
.bookIt{
    margin-left: 5px;
}
.parkIt, .bookIt{
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 110px;
    background-color: #F7F7F7;
}
.parkIt:hover, .bookIt:hover{
    background-color: rgba(229, 226, 226, 0.603);
    transition: background-color 0.3s ease-in-out;
}

.verticalLine {
    width: 1px; 
    background-color: #ccc; 
    height: 70%; 
    margin: auto;
}
.horizontalLine{
    width: 100%; 
    height: 1px;
    margin: 20px 0;
    background-color: #ccc;
}

.getStarted{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bababa;
    width: 115px;
    height: 45px;
    border-radius: 100px;
    background-color: #F7F7F7;
}
.getStarted:hover{
    border: 1px solid #6a6a6a;
    background-color: #ffcc00;
    transition: background-color 0.2s ease-in-out;
}
.expandDropdown{
    position: fixed;
    top: 12%;
    right: 5%;
    width: 250px;
    height: 170px;
    background-color: #ffcc00;
    z-index: 200;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #6a6a6a;
    border-radius: 25px;
}
.navIcon{
    display: inline-block;
    font-size: 1.1rem;
}
.getStartedList{
    padding: 10px 0 0 20px;
}
.getStartedList a{
    color: #1E293B;
}
.getStartedList li{
    display: inline-block;
    margin-top: 2px;
    padding: 5px 10px;
}
.getStartedList li:hover{
    background-color: #ebbc00;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* ================ Home ==============*/
.background{
    /* background-image: url("/static/images/Screenshot 2025-01-27 at 2.33.20 PM.png"); */
    background-size: cover;
    height: 100%;
    width: 100%;
}
.heroSection{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50vh;
    padding: 3rem ;
}
.heroSection h1{
    text-align: center;
    font-size: 4.4rem;
}
.heroSection p{
    text-align: center;
    font-size: 1.4rem;
}
.welcome{
    margin-top: 15px;
}
.bottomText{
    margin-top: 15px;
}
.searchArea, .locationArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60px;
    margin: auto;
    background-color: white;
    box-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 10vh;
}
.where, .fore, .date, .location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 1.4rem 2rem;
    font-size: 0.85rem;
    border-radius: 100px;
}
/* .whereLayer{
    margin-top: 17px;
} */
.where:hover, .fore:hover,.date:hover, .location:hover {
    background-color:rgba(215, 213, 213, 0.78) ;
    transition: background-color 0.1s ease-in-out;
}
.where p,.fore p, .date p, .location p{
    margin: 0;
}
.searchbar, .timePeriod, .addDates,.yourLocation{
    border: none;
    background: none;
}
.searchbar, .yourLocation{
    width: 100%;
}
.searchIcon, .locationIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.7rem;
    height: 3.2rem;
    border-radius:50% ;
    background-color: #ffcc00;
    margin-right: 10px;
}
.searchIcon i, .locationIcon i{
    color: #212529;
    font-size: 1.2rem;
}
.searchIcon:hover, .locationIcon:hover{
    background-color: rgb(235, 188, 0);
    transition: background-color 0.2s ease-in-out;
}
.searchResults{
    position: absolute;
    background-color: #ffcc00;
    top: 120%;
    left: 0;
    z-index: 100;
    border-radius: 35px;
    max-height: 400px;
    width: 400px;
    overflow-y: auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.timeRange{
    position: absolute;
    background-color: #ffcc00;
    top: 120%;
    left: 45%;
    z-index: 100;
    border-radius: 35px;
    max-height: 400px;
    width: 400px;
    overflow-y: auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.mapContainer{
    height: 400px;
    width: 90%;
    margin: auto;
    background-color: #ffcc00;
    border-radius: 15px;
    margin-bottom: 40px;
}
#map{
    height: 400px;
    width: 100%;
    border-radius: 15px;
}

/* the generated location bar */
.locationIcon{
    width: 3.6rem;
}
.locationArea{
    margin-top: 3px;
}

/* Park it Right. */
.heroVideo{
    position: relative;
    margin-top: 4rem;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* ensure it happens symmetrically */
    transform: translateX(-50%);
    transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), 
    border-radius 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: width, border-radius;
    z-index: -1;
}
.loopVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.videoText{
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 1;
    font-size: 5rem;
    color: #F7F7F7;
}



/* ============== Categories.ejs ================ */
.categoriesWelcome{
    width: 90%;
    margin: auto;
    margin-top: 10rem;
    font-size: 4rem;

}
.maneuverBar{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories{
    width: 70%;
    margin: auto;
    overflow-x: auto;
}
.listOfCategories{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px 10px;
    margin-top: 4px;
}
.categoryBtn{
    border: none;
    color:rgb(106, 106, 106) ;
    height: 40px;
    background-color: #F7F7F7;
}
.categoryBtn:hover{
    color: #212529;
    border-bottom: 2px solid rgb(106, 106, 106);
}
.clickedBtn{
    color: rgb(30, 41, 59);
    border-bottom: 2px solid rgb(30, 41, 59);
}
.filterBox{
    display: inline-block;
    margin: auto;
    padding-bottom: 12px;
}
.filter{
    border: 1px solid #bababa;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    background-color: #F7F7F7;
}
.filter:hover{
    border: 1px solid #6a6a6a;
    background-color: rgba(229, 226, 226, 0.603);
    transition: background-color 0.2s ease-in-out;
}


.spaceContainer{
    margin-bottom: 4rem;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin: auto;
}
.row{
    margin-top: 35px;
}
.imageContainer{
    display: inline-block;
    padding: 0;
}
.listOfNames{
    margin-top: 15px;
    display: inline;
    list-style: none;
}
.spaceName{
    font-size: 1.3rem;
    text-decoration: none;
    color: #212529;
}
.spaceName:hover{
    color: #ebbc00;
    transition: color 0.2s ease-in-out;
}
.spaceAddress, .spaceState{
    color: #6a6a6a;
    font-size: 0.8rem;
}
.cardImg{
    width: 255px;
    height: 240px;
    border-radius: 10px;
}
.image{
    object-fit: cover;
}




/* ===================== Footer ==================== */
.upperFoot{
    display: flex;
    padding: 4px 0 ;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.addInfo ul{
    display: flex;
    align-items: center;
}
.addInfo li a{
    margin: 0 6px;
    padding-right: 17px;
    text-decoration: none;
    color: #1E293B;
}
.firstHalf{
    display: flex;
    color: #6a6a6a;
}
.socialInfo i{
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 4px;
}
.footIcon{
    border-radius: 5px;
    background-color: #1E293B;
    color: #ebbc00;
}



/* ==================== JS classes ===================== */
.hidden{
    display: none;
}
.searchIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 3.2rem;
    border-radius:100px ;
    background-color: #ffcc00;
    margin-right: 10px;
    color: #212529;
    font-size: 1rem;
}
.searchIconContainer:hover{
    background-color: #ebbc00;
}
#suggestions{
    margin: 18px 0 8px 0;
}
#aroundPeriod{
    margin: 18px 0 8px 0;
}
.suggestionStyle{
    list-style: none;
    padding: 5px 10px;
    margin-top: 4px;
    font-size: 1rem;
}
.suggestionStyle:hover{
    background-color: #ebbc00;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.timings{
    list-style: none;
    padding: 5px 10px;
    margin-top: 4px;
    font-size: 1rem;
    display: inline-block;
}
.timings:hover{
    background-color: #ebbc00;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.fa-location-dot{
    margin-right: 10px;
    font-size: 1.1rem;
}
.fa-clock{
    margin-right: 10px;
    font-size: 1.1rem;
}
.suggestionContainer{
    display: inline-flex;
    flex-direction: column;
}
.locationName{
    margin: 0;
}
.locationType{
    font-size: 0.8rem;
}
.enterLocation{
    width: 65%;
    margin: auto;
    margin-top: 20px;
}


.spaceText{
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.950);
    cursor: pointer;
    opacity: 0;
    width: 245px;
    height: 250px;
    padding: 112px 0 0 5px;
}
.spaceTextBg{
    position: absolute;
    width: 255px;
    height: 240px;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(255, 204, 0, 0.800), rgba(255, 204, 0, 0.150));
    padding: 0;
    margin-left: 12px;
    cursor: pointer;
    opacity: 0;
}
.spaceText:hover, .spaceTextBg:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.fadeIn{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fadeIn.show{
    opacity: 1;
    transform: translateY(0);
}
/* a delayed effect for all the children elements (ChatGPT) */
.fadeIn:nth-child(1) { transition-delay: 0.1s; }
.fadeIn:nth-child(2) { transition-delay: 0.3s; }
.fadeIn:nth-child(3) { transition-delay: 0.5s; }