<!-- <h3 class="inter">Search in</h3> -->
<div class="maneuverBar">
    <div class="categories">
        <ul class="listOfCategories">
            <li >
                <button class="poppins-regular">
                    Spaces
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Entertainment
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Travel
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Stays
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Care
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Apartments
                </button>
            </li>
        </ul>
    </div>
    
    <div class="filterBox">
        <button class="filter">
            <i class="fa-solid fa-sliders"></i>
            Filters
        </button>
    </div>
</div>
