<!-- The loading video -->
<div class="probabilityLoadingVid hidden">
    <video autoplay muted playsinline class="loopVideo fadeIn" >
        <source src="/static/videos/probabilityLoading@clean.mp4" type="video/mp4">

    </video>
</div>


<div class="showProbability ">
    Oh no 
    <div class="container">
        <h1>Parking Availability</h1>
        <div class="parking-status">
            <p>Free Spaces: <span id="free-spaces">0</span></p>
            <p>Occupied Spaces: <span id="occupied-spaces">0</span></p>
        </div>
    </div> 
</div>
