<% layout("../layouts/boilerplate.ejs") %>

<body>

    <div class="errorContainer fadeIn">
        
        <video autoplay loop muted playsinline class="loopVideo fadeIn" >
            <source src="/static/videos/error page animation.mp4" type="video/mp4" >
        </video>

        <h1>Oops! An error has occurred</h1>
        <h2 class="errorName"><%= name %></h2>
        <h3 class="statusCode">Error code: <%= statusCode %></h3>
        
        <div class="alert alert-info" role="alert">
            <%= message %>
        </div>
    </div>
    

</body>