<% layout("../layouts/boilerplate.ejs") %>

<body>

    <div class="errorContainer">
        <h1>Oops! An error has occurred</h1>
        <h2 class="errorName"><%= name %></h2>
        <h3 class="statusCode">Error code: <%= statusCode %></h3>
        
        <div class="alert alert-info" role="alert">
            <%= message %>
        </div>
    </div>
    

</body>