<% layout("../layouts/boilerplate.ejs") %>

<body>
    <h1 class="montserra">Welcome to Spot On.</h1>

    <div >
        <input class="searchbar" name="searchbar" type="text" placeholder="Search locations...">
    </div>


    <ul class="listOfSpaces">
        
    </ul>

</body>