<% layout("../layouts/boilerplate.ejs") %>

<body>
    <div class="heroSection">
        <div class="headText">
            <h1 class="welcome merriweather-regular">Discover the world's top designers
            </h1>

        </div>
        <div class="bottomText">

            <p class="poppins-regular">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ut, quos reprehenderit provident dolorem consectetur.
            </p>
        </div>
    </div>
    
    <div class="searchArea">
        <div class="where">
            <div class="whereLayer">
                <p class="poppins-regular whereText">Where to</p>
            <input class="searchbar poppins-regular" name="searchbar" type="text" placeholder="Search destinations">

            <!-- an empty list for the JS to filter search results -->
             <div id="searchPanel">

                <ul class="listOfSpaces">
                    <p class="poppins-regular hidden" id="suggestions"> Suggested destinations</p>
                    
               
                </ul>
             </div>
            
            </div>
            
        </div>

        <div class="verticalLine"></div>

        <div class="date hidden">
             <p class="poppins-regular">Date</p>
            <input class="addDates poppins-regular" name="addDates" type="text" placeholder="Add dates">
        
        </div>

        <div class="verticalLine"></div>

        <div class="for">
            <p class="poppins-regular">For</p>
            <input class="timePeriod poppins-regular" name="timePeriod" type="text" placeholder="Time period">

        </div>
        
        <div class="searchIcon poppins-regular ">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p class="nbsp hidden">&nbsp;</p>
        </div>
 
    </div>

    <div class="mapContainer"></div>

    <hr>
    
</body>