<div class="hidden presentationContainer">
    <p class="wiredBox1 poppins-regular">
        We Track real time parking availability in all the registered parking spaces.
    </p>

    <p class="wiredBox2 box poppins-regular">
        You visit our website, and enter your destination
    </p>
    <p class="wiredBox3 box poppins-regular">
        This data reaches our Algorithm
    </p>
    <p class="wiredBox4 box poppins-regular">
        The upcoming process takes place under 5 seconds...
    </p>
    <p class="wiredBox2 box poppins-regular"></p>


    <p class="wiredBox5 box poppins-regular"></p>
    <p class="wiredBox6 box poppins-regular"></p>
</div> 

